<%= stylesheet_link_tag 'questions/base', media: 'all'%>

<div id="modal">
  <iframe src="https://www.youtube.com/embed/ADXqyzbVIjo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<section id="question-eleven" class="content question-container">
  <%= image_tag("questions/question_11.jpg") %>
  <%= link_to "#modal", :class => "fancybox dont-open" do %>
    <%= image_tag("questions/play_video_button.png", class: "play_video") %>
  <% end %>
   
  <div class="question-text">
    <p>Qual é a última figura que aparece?</p>
  </div>
  <%= link_to api_v1_send_answer_path(question: 11, answer: 1, student_id: params[:student_id], next_path: "finish_test") do %>
  	<div class="answer answer1"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 11, answer: 2, student_id: params[:student_id], next_path: "finish_test") do %>
	  <div class="answer answer2"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 11, answer: 3, student_id: params[:student_id], next_path: "finish_test") do %>
	  <div class="answer answer3"></div>
	<%end%>
</section>