<section id="question-one" class="content question-container">
  <%= image_tag("questions/question_1.jpg") %>
  <%= image_tag("questions/play_video_button.png", class: "play_video") %>
  <%= image_tag("questions/help_button.png", class: "help_button") %>
  <%= image_tag("questions/hint_question_1.png", class: "hint_button") %>
  <div class="question-text">
    <p>Insira aqui a pergunta da respectiva questão???? Insira aqui a pergunta da respectiva questão????</p>
  </div>
  <%= link_to api_v1_send_answer_path(question: 1, answer: 2, student_id: params[:student_id], next_path: 2) do %>
 		<div class="answer answer1"></div>
	<%end%>
 		<%= link_to api_v1_send_answer_path(question: 1, answer: 1, student_id: params[:student_id], next_path: 2) do %>
  <div class="answer answer2"></div>
	<%end%>
  <%= link_to api_v1_send_answer_path(question: 1, answer: 3, student_id: params[:student_id], next_path: 2) do %>
  	<div class="answer answer3"></div>
	<%end%>
</section>