<div id="modal">
  <iframe src="https://www.youtube.com/embed/A7qGNzzqXA4?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<section id="question-seven" class="content question-container">
  <%= image_tag("questions/question_7.jpg") %>
  <%= link_to "#modal", :class => "fancybox" do %>
    <%= image_tag("questions/play_video_button.png", class: "play_video") %>
  <% end %>
  <%= image_tag("questions/help_button.png", class: "help_button") %>
  <%= image_tag("questions/hint_question_7.png", class: "hint_button") %>
  <div class="question-text">
    <p>Insira aqui a pergunta da respectiva questão???? Insira aqui a pergunta da respectiva questão????</p>
  </div>
  <%= link_to api_v1_send_answer_path(question: 7, answer: 2, student_id: params[:student_id], next_path: 8) do %>
  	<div class="answer answer1"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 7, answer: 3, student_id: params[:student_id], next_path: 8) do %>
  	<div class="answer answer2"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 7, answer: 4, student_id: params[:student_id], next_path: 8) do %>
	  <div class="answer answer3"></div>
	<%end%>
	<%= link_to questions_seven_one_path(student_id: params[:student_id]) do %>
  	<%= image_tag("questions/other_page_button.png", class: 'not_here') %>
	<%end%>
</section>