<div id="modal">
  <iframe src="https://www.youtube.com/embed/qSPBCnM7j4E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<section id="question-six" class="content question-container">
  <%= image_tag("questions/question_6.jpg") %>
  <%= link_to "#modal", :class => "fancybox" do %>
    <%= image_tag("questions/play_video_button.png", class: "play_video") %>
  <% end %>
   
  <%= image_tag("questions/hint_question_6.png", class: "hint_button") %>
  <div class="question-text">
    <p>Qual é a árvore da coruja alquimista?</p>
  </div>
  <%= link_to api_v1_send_answer_path(question: 6, answer: 2, student_id: params[:student_id], next_path: 7) do %>
  	<div class="answer answer1"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 6, answer: 3, student_id: params[:student_id], next_path: 7) do %>
  	<div class="answer answer2"></div>
	<%end%>
	<%= link_to questions_six_one_path(student_id: params[:student_id]) do %>
  	<%= image_tag("questions/other_page_button.png", class: 'not_here') %>
	<%end%>
</section>