<div id="modal">
  <iframe src="https://www.youtube.com/embed/ADXqyzbVIjo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<section id="question-ten" class="content question-container">
  <%= image_tag("questions/question_10.jpg") %>
  <%= link_to "#modal", :class => "fancybox dont-open" do %>
    <%= image_tag("questions/play_video_button.png", class: "play_video") %>
  <% end %>
   
  <div class="question-text">
    <p>Qual é a segunda figura que aparece?</p>
  </div>
  <%= link_to api_v1_send_answer_path(question: 10, answer: 2, student_id: params[:student_id], next_path: 11) do %>
  	<div class="answer answer1"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 10, answer: 3, student_id: params[:student_id], next_path: 11) do %>
	  <div class="answer answer2"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 10, answer: 1, student_id: params[:student_id], next_path: 11) do %>
	  <div class="answer answer3"></div>
	<%end%>
</section>