<div id="modal2">
  <iframe src="https://www.youtube.com/embed/nolruPVTkFs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<section id="question-three" class="content question-container">
  <%= image_tag("questions/question_3_2.jpg") %>
  <%= link_to "#modal2", :class => "fancybox dont-open" do %>
    <%= image_tag("questions/play_video_button.png", class: "play_video") %>
  <% end %>
   
  <%= image_tag("questions/hint_question_3.png", class: "hint_button") %>
  <div class="question-text">
    <p>Onde está o pássaro do desenho?</p>
  </div>
  <%= link_to api_v1_send_answer_path(question: 3, answer: 1, student_id: params[:student_id], next_path: 4) do %>
	  <div class="answer answer6"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 3, answer: 7, student_id: params[:student_id], next_path: 4) do %>
  	<div class="answer answer7"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 3, answer: 8, student_id: params[:student_id], next_path: 4) do %>
	  <div class="answer answer8"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 3, answer: 9, student_id: params[:student_id], next_path: 4) do %>
	  <div class="answer answer9"></div>
	<%end%>
	<%= link_to api_v1_send_answer_path(question: 3, answer: 10, student_id: params[:student_id], next_path: 4) do %>
	  <div class="answer answer10"></div>
	<%end%>
	<%= link_to questions_three_path(student_id: params[:student_id]) do %>
  	<%= image_tag("questions/other_page_button.png", class: 'not_here') %>
	<%end%>
</section>