<section id="students-results" class="content">
  <section class="class-container">
    <h2 class="blue">PESQUISAR SALA</h2>
    <div class="search-box">
      <input id="filter-list" type="text">
      <%= image_tag("search-icon.png") %>
    </div>

    <article class="class-list">
      <ul>
        <% if @classrooms.empty? %>
          <li>
            Nenhuma classe criada
          </li>
        <%else%>
          <% @classrooms.order(school: :asc).each do |classroom| %>
            <%= link_to teacher_classroom_students_path(@teacher.id, classroom.id) do%>
              <li>
                <%= "#{classroom.school} - #{classroom.slug} - #{classroom.code}" %>
              </li>
            <%end%>
          <%end%>
        <%end%>
      </ul>
    </article>

    <div class="add-class">
      <%= link_to "ADICIONAR TURMA", new_teacher_classroom_path(@teacher.id) %>
    </div>
  </section>

  <section class="class-results add-class-box">
    <h2>ADICIONAR TURMA</h2>
    
    <article class="form-add-class-box">
      <%= form_for @classroom, url: teacher_classrooms_path do |f| %>
        <%= f.label :school, 'Escola' %>
        <%= f.text_field :school %>
        <%= f.label :slug, 'Turma' %>
        <%= f.text_field :slug %>
        <div class="login-button-box">
          <%= f.submit "GERAR CÓDIGO", class: "submit" %>
        </div>
      <% end %>
    </article>
  </section>
</section>