<section id="students-results" class="content">
  <section class="class-container">
    <h2 class="blue">PESQUISAR SALA</h2>
    <div class="search-box">
      <input id="filter-list" type="text">
      <%= image_tag("search-icon.png") %>
    </div>

    <article class="class-list">
      <ul>
        <% if @classrooms.empty? %>
          <li>
            Nenhuma classe criada
          </li>
        <%else%>
          <% @classrooms.each do |classroom| %>
            <%= link_to teacher_classroom_students_path(@teacher.id, classroom.id) do%>
              <li>
                <%= "#{classroom.school} - #{classroom.slug} - #{classroom.code}" %>
              </li>
            <%end%>
          <%end%>
        <%end%>
      </ul>
    </article>

    <div class="add-class">
      <%= link_to "ADICIONAR TURMA", new_teacher_classroom_path(@teacher.id) %>
    </div>
  </section>

  <section class="class-results">
    <div class="title-box">
      <h2><%= "#{@classroom.school} - #{@classroom.slug}" %></h2>
    </div>  
    
    <article class="students-list">
     <ul>
	     <% if @students.empty? %>
	       <li>
	         Nenhum aluno na turma
	       </li>
	     <%else%>
	       <% @students.each do |student| %>
	         <%= link_to teacher_classroom_student_show_path(@teacher.id, @classroom.id, student.id) do%>
	           <li>
	             <%= "#{student.name}" %>
	           </li>
	         <%end%>
	       <%end%>
	     <%end%>
	   </ul>
      <button>ATIVAR CÓDIGO</button>
    </article>

    <article class="student-results">
      <h2>Aluno: <%= @student.name%></h2>
      <article class="graph-results">
        <div class="circles-box">
          <div class="correct-circles-box" style="flex: <%= @student.correct_answers == 0 ? 1 : @student.correct_answers; %>;">
            <div class="wrong-circle set-height-wrong">
              <p><%= @student.correct_answers %></p>
            </div>
          </div>

          <div class="correct-circles-box" style="flex: <%= @student.wrong_answers == 0 ? 1 : @student.wrong_answers; %>;">
            <div class="correct-circle set-height-correct">
              <p><%= @student.wrong_answers %></p>
            </div>
          </div>
        </div>

        <h3>
          <%= @student.calculate_percentage_wrong %> de chance de ter DALTONISMO
        </h3>
      </article>

      <article class="questions-results">
        <ul>
          <% @student.questions.order(number: :asc).each do |question|%>
            <li>
              <p> Pergunta <%= question.number%> </p>
              <div class="answers-box">
                <div class="wrong-question <%= 'active' if question.answer.present? &&question.answer != question.correct_answer %>" ></div>
                <div class="right-question <%= 'active' if question.answer.present? &&question.answer == question.correct_answer %>" ></div>
              </div>
            </li>
          <%end%>
        </ul>
      </article>
  </section>
</section>