<section id="student-login" class="content">
  <div class="logo-header">
    <%= image_tag("daltoon-logo.png") %>
  </div>
	<article class="login-container">
		<h1>Login de Estudante</h1>

		<%= form_for @student, url: api_v1_students_path do |f| %>
			<%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
      <%= f.label :classroom_id, 'Inserir Código' %>
      <%= f.text_field :classroom_id %>
   	  <div class="login-button-box">
   	  	<%= f.submit "ACESSAR", class: "submit" %>
	    </div>

      <%= link_to "ACESSAR COMO PROFESSOR", professor_login_teacher_path, class: "teacher-button responsive"%>
		<%end%>
	</article>
	<%= image_tag("bubbles_top.png", class: "bubble-top") %>
	<%= image_tag("bubbles_bottom.png", class: "bubble-bottom") %>
</section>