<section id="register" class="content">
	<div class="logo-box">
		<%= image_tag("daltoon-logo.png") %>
	</div>
	
	<article class="register-container">
		<div class="register-container-shadow"></div>
		<h1>Registro</h1>

		 <%= form_for @teacher, url: teacher_registration_path do |f| %>
          <%= f.text_field :name, placeholder: "Nome" %>
          <%= f.text_field :email, placeholder: "Email" %>
          <%= f.text_field :password, placeholder: "Senha" %>
          <%= f.text_field :password_confirmation, placeholder: "Confirmacao de Senha" %>
          <%= f.submit "Registrar", class: "confirm" %>
      <% end %>

	  <%= link_to "Login", root_path%>
	</article>
</section>