<!DOCTYPE html>
<html>
  <head>
    <title>Daltoon</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
  </head>
	
	<body>
	  <header>
	  	<%= render :partial => "layouts/header" %>
	  </header>

	  <main class="site-content">
	    <%= yield %>
	  </main>

	  <footer>
	    <%= render :partial => "layouts/footer" %>
	  </footer>
  </body>
</html>
